/* Main document */
html{
    
}

body{
    padding-bottom: 40px;
    overflow-x: hidden;
}

li{
    list-style: none;
}

.list-conditional{
    list-style: decimal;
}
table {
    display: table;
    margin-bottom: 20px;
    margin-top: 20px;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

/* table */

table th{
    padding: 10px;
    background-color: rgba(237, 237, 237, 1);
    border: 1px solid #ccc;
}


table td {
    padding: 10px;
    border: 1px solid #ccc;
}


/* Wrapper and content */
#wrapper{
text-align:left;
	
}

#content{ 
width: 800px;

 
}


/* Header */
header#mainHeader{
    
}

/*--header--*/

/* Navigation */

nav#horzNav{
    
}

/* Vertical Navigation */




/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 200px;
}

#sidebar-wrapper {
    z-index: 100;
    position: fixed;
    left: 200px;
    width: 0;
    height: 100%;
    margin-left: -200px;
    overflow-y: auto;
    background: #FCFCFC;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;


}

#wrapper.toggled #sidebar-wrapper {
    width: 200px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -200px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 200px;
    margin: 0px;
    padding: 0px;
    list-style: none;

}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #000;
    background: rgba(38, 75, 128, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;

}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 200px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 200px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
    .row {
        color:black;
        text-align: justify;
        text-overflow: ellipsis;
    }
}

/* Footer */
footer#footer1 {
    z-index: 1000;
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 45px;
    line-height: 45px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

/*hove effect*/
div.img-list {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    text-align: center;
}

div.img-list .img{
    display: inline-block;
    height: 200px;
    position: relative;
    width: 200px;
}

span.text-content {
    background: rgba(0,0,0,0.5);
    color: white;
    cursor: pointer;
    display: table;
    height: 200px;
    top: 0;
    left: 0;
    position: absolute;
    width: 200px;
    opacity: 0;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}

span.text-content span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

div.img-list div.img:hover span.text-content {
     opacity: 1;
 }